.icon {
  scale: 1.5;
  margin: 0 1rem;
}

.create-btn {
  margin-right: 1rem;
}

.filter {
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}

.table-container {
  max-width: 100%;
  overflow: auto;
}

.table {
  border-bottom: 1px solid lightgray;
}

.mat-mdc-table-sticky {
  border-right: 1px solid lightgray;
}

.row-number {
  text-align: center;
}

.name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.image-container {
  height: 40px;
  margin-left: 1rem;
}

.image-container img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

/* .name {
  margin-left: 1rem;
} */

::ng-deep .mat-mdc-tooltip {
  white-space: pre-line;
}

.bio {
  cursor: pointer;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.th {
  white-space: nowrap;
}

.projects-btn {
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.headder-row {
  cursor: pointer;
}
