<header class="header-container">
  <app-header (sidenavToggle)="sidenav.toggle()" class="header"></app-header>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport>
    <div class="title" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="icon"
        aria-label="notifications"
        (click)="sidenav.close()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="">Project Boards</span>
    </div>
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
