.icon {
  scale: 1.5;
  margin: 0 1rem;
}

.filter {
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}
.name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.image-container {
  height: 40px;
}

.image-container img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

.name {
  margin-left: 1rem;
}

.bio {
  cursor: pointer;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.headder-row {
  cursor: pointer;
}

/* td,
th {
  width: 25%;
} */
