<form
  [formGroup]="projectForm"
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <!--* TITLE -->
  <mat-form-field class="field">
    <mat-label>Project title</mat-label>
    <input formControlName="title" placeholder="Enter title..." matInput />
    <mat-error
      class="input-error"
      *ngIf="projectForm.controls['title'].errors?.['required']"
      >Project title is required</mat-error
    >
  </mat-form-field>

  <!--* PROJECT ID -->
  <mat-card class="details-container">
    <mat-card-content class="details-content">
      <h5 class="info first">Project Id:</h5>
      <h5 class="info">
        {{ projectForm.controls["id"].value }}
      </h5>
    </mat-card-content>
  </mat-card>

  <!--* DATE PICKER -->
  <mat-form-field class="field">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="projectForm" [rangePicker]="picker">
      <input
        matStartDate
        formControlName="startDate"
        placeholder="Start date"
      />
      <input matEndDate formControlName="finalDate" placeholder="End date" />
    </mat-date-range-input>

    <mat-hint style="font-size: 0.7rem">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error
      *ngIf="projectForm.controls['startDate']?.hasError('matStartDateInvalid')"
      >Invalid start date</mat-error
    >
    <mat-error
      *ngIf="projectForm.controls['finishDate']?.hasError('matEndDateInvalid')"
      >Invalid end date</mat-error
    >
  </mat-form-field>

  <!--* SELECTED RANGE -->
  <mat-card class="details-container">
    <mat-card-content class="details-content">
      <h5 class="info first">
        <!-- time is off 1 day in json, but not in date pipe?-->
        Selected range: {{ projectForm.value.startDate | date }}
        {{ projectForm.value.finalDate | date }}
      </h5>
      <h5 class="info">
        Duration:
        {{
          getDuration(projectForm.value.startDate, projectForm.value.finalDate)
        }}
        days
      </h5>
    </mat-card-content>
  </mat-card>

  <!--* DESCRIPTION -->
  <mat-form-field class="field">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error
      class="input-error"
      *ngIf="projectForm.controls['description'].errors?.['required']"
      >Description is required</mat-error
    >
  </mat-form-field>

  <!--* TEAM SELECT -->
  <mat-form-field class="field">
    <mat-label>Team</mat-label>
    <mat-select
      [formControl]="projectForm.controls['teamIds'] | formControl"
      multiple
    >
      <mat-select-trigger>
        {{(projectForm.controls['teamIds'].value?.[0] | nameExtraction)  || ''}}
        <span
          *ngIf="(projectForm.controls['teamIds'].value?.length || 0) > 1"
          class="additional-selection"
        >
          (+{{ (projectForm.controls["teamIds"].value?.length || 0) - 1 }}
          {{
            projectForm.controls["teamIds"].value?.length === 2
              ? "other"
              : "others"
          }})
        </span>
      </mat-select-trigger>
      <!-- with value= we save the ids in the form -->
      <mat-option *ngFor="let member of members$ | async" [value]="member"
        >{{ member.firstName }} {{ member.lastName }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <!-- STATUS -->
  <mat-form-field class="field">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="projectForm.controls['status'] | formControl">
      <mat-option *ngFor="let status of projectStatus" [value]="status">{{
        status
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    [disabled]="projectForm.invalid"
    color="primary"
    class="create-btn"
  >
    SUBMIT PROJECT
  </button>
</form>
